html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  overflow: scroll;

  scroll-snap-type: y mandatory;
}



/* Chrone and safari */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* IE and Firefox */
.app__videos {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
